<div class="wrap">
  <div class="row student-search">
    <h3>Search by Name</h3>
    <input type='text' [(ngModel)]="searchQuery" (ngModelChange)="search()" placeholder="Search" id="search"/><br>
    <a routerLink="/student">Create Student</a>
  </div>
  <div class="row">
    <table *ngIf="studentsToShow" width="100%" border="1" cellpadding="10" cellspacing="10">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Score</th>
        <th>Courses</th>
        <th>Delete</th>
      </tr>
        <ng-container *ngFor='let student of studentsToShow'>
          <tr app-student-list-item [student]="student" (click)="editStudent(student)" (delEvent)="delStudent($event)"></tr>
        </ng-container>
    </table>
  </div>
</div>