.red {
    background: #f5c7cb;
    color: #771122;
}
.green {
    background: #c8ecc7;
    color: #13660b;
}
.center {
    text-align: center;
}
td {
    border-radius: 5px;
    border: 1px solid #ddd;
}