<td>{{ student.firstName }} {{ student.lastName }}</td>
<td>
    <ol>
        <li *ngFor="let course of student.courses">{{course.name}}</li>
    </ol>
</td>
<td [ngClass]="{ 'red': student.score < 8 , 'green': student.score >= 8 }" class="center">{{student.score}}</td>
<td class="center">
    <button type="submit" class="btn btn-blue" (click)="editStud(student)"><i class="fa fa-pen"></i></button>
    <button type="submit" class="btn btn-red" (click)="delStud(student.id)"><i class="fa fa-trash"></i></button>
</td>