<form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
    <nz-form-item>
        <nz-input-group>
            <nz-form-control nzErrorTip="Please enter category name">
                <input
                    type="text"
                    nz-input
                    formControlName="name"
                    placeholder="Category name"
                />
            </nz-form-control>
        </nz-input-group>
        
        <nz-upload
            class="avatar-uploader"
            nzAction="{{ environment.apiUrl }}/uploader/image"
            nzName="file"
            nzListType="picture-card"
            [nzShowUploadList]="false"
            (nzChange)="handleChange($event)"
        >
            <ng-container *ngIf="!form.get('imageUrl').value">
                <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                <div class="ant-upload-text">Upload</div>
            </ng-container>
            <img *ngIf="form.get('imageUrl').value" [src]="environment.assetsUrl + '/' + form.get('imageUrl').value" class="avatar" />
        </nz-upload>

        <button nz-button nzType="primary">Save</button>
    </nz-form-item>
</form>