.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .header {
        min-height: 80px;
        background: var(--color-header);
        display: flex;
        justify-content: space-between;
        h1 {
            padding: 20px;
            margin: 0;
            color:  var(--color-header-text);
        }
        button {
            height: 50px;
            margin: 15px;
        }
    }
    .main {
        display: flex;
        flex-flow: row nowrap;
        flex: 1;
        .sidebar {
            flex: 0.2;
            background: var(--color-sidebar);
            .nav {
                list-style: none;
                margin: 0;
                padding: 10px 0;
                li a {
                    display: block;
                    text-decoration: none;
                    font-size: 1.2em;
                    padding: 15px;
                    color: #222;
                    &:hover {
                        background: rgba(0,0,0,0.3);
                        text-decoration: underline;
                        transition: 0.4s;
                    }
                }
            }
        }
        .content {
            flex: 1;
            padding: 15px;
        }
    }
}