.App {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.App__main {
  display: flex;
  max-height: calc(100% - 50px);
}

.randomUser {
  padding: 15px;
  background: rgba(255, 255, 255, .3);
  margin: 15px;
  border-radius: 15px;
  text-align: center;
}

.randomUser button {
  cursor: pointer;
  outline: none;
  border: none;
  background: rgb(62, 118, 202);
  box-shadow: 0 0 1em rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 999rem;
  color: rgb(22, 30, 78);
  font-size: 1em;
}

.UserProfile {
  list-style: none;
  margin: 0;
  padding: 0;
}

.UserAvatar {
  padding: 10px;
}

/* LOADER */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loaderAnimation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loaderAnimation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.AddPost {    
  padding: 1em 2em;
}

.AddPost form {
  background-color: seashell;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 1em rgba(0,0,0,0.2);
}