body {
    margin: 0;
    font: 16px 'Roboto Condensed', sans-serif;
    --color-header: rgb(56, 139, 60);
    --color-sidebar: rgb(133, 184, 140);
    input[type=text],input[type=number] {
        display: block;
        padding: 10px;
        font-size: 1em;
        border-radius: 999rem;
        margin: 5px;
        border: 1px solid #ccc;
        outline: none;
    }
}